@font-face {
	font-family: "LeMondeLivre";
	font-style: normal;
	font-weight: 400;
	src: local("LeMondeLivre"),
		url("../fonts/LeMondeLivre-Bold.otf")
			format("otf");
}
@font-face {
	font-family: "LeMondeLivre";
	font-style: normal;
	font-weight: 600;
	src: local("LeMondeLivre"),
		url("../fonts/LeMondeLivre-SemiBold.otf") format("otf");
}
@font-face {
	font-family: "LeMondeLivre";
	font-style: normal;
	font-weight: 800;
	src: local("LeMondeLivre"),
		url("../fonts/LeMondeLivre-Bold.otf") format("otf");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 400;
	src: local("OpenSans"),
		url("../fonts/OpenSans-Regular.ttf") format("ttf");
}
@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 800;
	src: local("OpenSans"),
		url("../fonts/OpenSans-Bold.ttf") format("ttf");
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities  {
	.margin-social {
	  margin-top: 1.8rem !important;
	}
}
